<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/newinga?useSSL=false</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <property name="hbm2ddl.auto">validate</property>
    <mapping class="model.Chemistry" />
    <mapping class="model.Chlorophyll" />
    <mapping class="model.Collector"/>
    <mapping class="model.Converted"/>
    <mapping class="model.DNA" />
    <mapping class="model.Expansion" />
    <mapping class="model.Extraction" />
    <mapping class="model.ExtractionWeight" />
    <mapping class="model.ExtrafloralNectaries"/>
    <mapping class="model.Field"/>
    <mapping class="model.Hairs" />
    <mapping class="model.HerbivoreCollectionObservation" />
    <mapping class="model.HerbivoreDNA" />
    <mapping class="model.HerbivorePhotos"/>
    <mapping class="model.HerbivoreSpecies"/>
    <mapping class="model.HerbivoreSpeciesObservation"/>
    <mapping class="model.HerbivoreVoucher" />
    <mapping class="model.Herbivory" />
    <mapping class="model.HPLC_Result"/>
    <mapping class="model.LeafMassArea" />
    <mapping class="model.Location" />
    <mapping class="model.Method"/>
    <mapping class="model.MethodResult"/>
    <mapping class="model.Nitrogen" />
    <mapping class="model.Plant" />
    <mapping class="model.PlantDNA" />
    <mapping class="model.PlantPhoto" />
    <mapping class="model.PlantSpecies"/>
    <mapping class="model.RAW"/>
    <mapping class="model.RTI_QC" />
    <mapping class="model.RTI_QCMember" />
    <mapping class="model.Site" />
    <mapping class="model.Toughness"/>
    <mapping class="model.Trait"/>
    <mapping class="model.UPLC_Result" />
    <mapping class="model.Voucher" />

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>